*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header .sub-menu{
    height: 1.5rem;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
header .sub-menu input{
    margin-left: 2rem;
    outline: none;
    border-radius: 12px;
}
header .sub-menu ul{
    list-style: none;
    display: flex;
}
header .sub-menu ul li{
    margin-left: 1rem;
}
header .sub-menu h1{
    color: blue;
}
.one{
    display: flex;
    justify-content: space-around;
    margin: 2rem;
}
.one .left h3{
    font-weight: bold;
    font-size: large;
}
.one .left h1{
    margin-top: 1rem;
    color: rgb(214, 58, 58);
    font-weight: bold;
}
.one .left p{
    font-weight: lighter;
    margin-top: 1rem;
}
.one .features .feature{
    display: flex;
    height: 1.5rem;
    margin-top: 2rem;
}
.button{
    height: 2.3rem;
    width: 50%;
    margin-top: 3rem;
    margin-left: 5rem;
    background: linear-gradient(blue,white);
    color: whitesmoke;
    border-radius: 12px;
}
.one .right img{
    height: 25rem;
    background: rgb(187, 241, 187);
    border-radius: 100%;
}
.two{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: rgb(112, 204, 112);
}
.two h1{
    margin-left: 2rem;
    margin-top: 4rem;
}
.two .hello img{
    height: 10rem;
    margin-bottom: 2rem;
    margin-top: 1rem;   
    background-color: white;
    border-radius: 100%;
}
.three .hii{
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
    background: mediumpurple;
    border-radius: 40px;
}
.three .hii img{
    height: 16rem;
    margin-right: 2rem;
}
.three .hii h1{
    margin-top: 2rem;
}
.four{
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
}
.four .left{
    margin-left: 2rem;
    margin-top: 2rem;
    margin-right: 4rem;
    background-color: pink;
    border-radius: 12px;
}
.four .left img{
    height: 15rem;
    margin-left: 8rem;
}
.four .left h2{
    margin-top: 0.5rem;
}
.four .right{
    margin-top: 2rem;
    background-color: pink;
    border-radius: 12px;
}
.four .right img{
    height: 15rem;
    margin-left: 6rem;
}
.five{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    background-color: aqua;
}
.five .left img{
    height: 10rem;
    margin-top: 1.5rem;
    margin-left: 2rem;
    background-color: white;
    border-radius: 12px;
}
.five .right{
    margin-top: 3rem;
    margin: 2rem;
}
.five .right h5{
    margin-top: 0.5rem;
}
.five .right h4{
    margin-top: 1rem;
}
.five .right space{
    color: orange;
}
.five .right .button{
    height: 2rem;
    width: 25%;
    border-radius: 20px;
    background: linear-gradient(blue,white);
    color: whitesmoke;
}
.six .upper{
    margin-top: 2rem;
}
.six .upper ul{
    list-style: none;
    display: flex;
}
.six .upper ul li{
    margin: 1rem;
    padding: 1rem;
    margin-right: 10rem;
}
.six .lower img{
    height: 10rem;
    margin-left: 4rem;
    background: lightseagreen;
    border-radius: 15px;
}
.six .lower ul{
    list-style: none;
    display: flex;
}
.six .lower ul li{
    margin-top: 1rem;
    margin-left: 7.8rem;
    margin-right: 2.5rem;
}
.six .down ul{
    list-style: none;
    display: flex;
}
.six .down ul li{
    margin-left: 9rem;
    margin-right: 2rem;
}
.seven .up img{
    height: 10rem;
    margin-top: 1.5rem;
    margin-left: 6rem;
    margin-right: 2rem;
    background: rgb(77, 114, 112);
    border-radius: 15px;
}
.seven .middle ul{
    list-style: none;
    display: flex;
}
.seven .middle ul li{
    margin-top: 1rem;
    margin-left: 11rem;
    margin-right: 2rem;
}
.seven .down ul{
    list-style: none;
    display: flex;
}
.seven .down ul li{
    margin-left: 12rem;
    margin-right: 1.5rem;
}
.eight .sub{
    height: 1.5rem;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    background-color:black;
}
.eight.sub input{
    margin-left: 2rem;
    outline: none;
    border-radius: 15px;
}
.eight .sub ul{
    list-style: none;
    display: flex;
}
.eight .sub ul li{
    margin-left: 1rem;
    color: whitesmoke;
}
.eight .sub h1{
    margin-right: 1.5rem;
    color:white;
}
.nine{
    display:flex;
    margin: 2rem;
}
.nine .left img{
    height: 8rem;
    display: flex;
    background-color:darksalmon;
    margin: 1rem;
    padding: 1rem;
    border-radius: 12px;
}
.nine .right img{
    height: 25rem;
    background-color: rgb(153, 172, 161);
    border-radius: 85%;
    margin-top: 2rem;
    margin-left: 10rem;
    padding: 1rem;
}
.nine .cost h3{
    margin-top: 3rem;
}
.nine .cost p{
    margin-top: 2rem;
}
.nine .cost h4{
    margin-top: 1.5rem;
}
.ten h2{
    margin-left: 15rem;
    padding: 1.5rem;
}
.ten .review img{
    height: 10rem;
    margin-left: 12rem;
}
.ten .details{
    background: linear-gradient(to bottom ,white,blue);
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.5rem;
}
.ten .details ul li{
    list-style: none;
}
@media screen and (max-width :765px){
    .one .left{
        margin-top: 1rem;
    }
    .two{
        margin-left: 1rem;
    }
    .two .hello img{
        display: flex;
    }
    .three{
        margin-left: 1rem;
    }
    .four
    {
        margin-left: 1.2rem;
    }
    .six .upper{
        margin-left: 1.5rem;
    }
    .six .lower img{
        display: flex;
        margin: 1rem;
    }
    .six .lower ul li{
        margin-top: 0;
        margin-left: 1rem;
        margin-right: 0;
    }
    .six .down ul li{
        margin-top: 0;
        margin-left: 1rem;
    }
    .seven .up img{
        display: flex;
    }
    .seven .down ul li{
        margin-left: 1rem;
        margin-right: 0;
    }
    .seven .middle ul li{
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 0;
    }
    .nine{
        display: flex;
        flex-direction: column;
    }
    .nine .cost{
        text-align: center;
    }
    .ten .details{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: auto;
    }
}
@media screen and (max-width :320px){
    header .sub-menu{
        margin-left: 2rem;
    }
    
}